/* DivTable.com */
.divTable {
    display: table;

    position: absolute; /* Абсолютное позиционирование */
    width: 40%; /* Ширина слоя в процентах */
    height: 40%; /* Высота слоя в процентах */
    left: 30%; /* Положение слоя от левого края */
    top: 30%; /* Положение слоя от верхнего края */
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: #eee;
    display: table-header-group;
}
.divTableCell,
.divTableHead {
    /* border: 1px solid #999999; */
    display: table-cell;
    padding: 4px 4px;
}
.divTableHeading {
    background-color: #eee;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}

/* .buttonClass {
    width: 100%;
    height: 100%;
} */

button {
    width: 100%;
    height: 100%;
}
